
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 576px) {
    max-width: 540px;
  }

}

.main-form {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  max-height: 400px;
  display: flex;
  margin-top: 0;
  position: relative;
  top: -5px;
  right: 0;
  z-index: 9999;
  transform: translateY(-50%);
  bottom: auto;
  left: 0;
  text-align: center;
  color: #666666;
  font-size: 14px;
  line-height: 1.80857;
  font-weight: normal;
  width: 100%;
  align-items: center;
  border-radius: 2px;
}

.location-input {
  background-color: #ffffff;
  border-radius: 4px;

}

.location-input::placeholder {
  font-size: 16px !important;
}

.ic {
  color: #666666;
}

.input-container {
  position: relative;
}

.search-icon {
  height: 0;
  position: absolute;
  top: 26%;
  left: 10px;
  transform: translateY(-50%);
}


.search-result {
  margin-left: 1.1rem;
  margin-top: -0.8rem;
  padding: 12px 0;
  border-radius: 3px;
  background-color: var(--while-color);
  box-shadow: rgb(0 0 0 /12%) 0 2px 12px;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;


}

.empty {
  padding: 0 12px;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
}

.result-item {
  width: 100%;
  color: black;
  padding: 6px 6px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #fafafa;
  }
}

.product-name {
  width: 100%;
  margin-left: 8px;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-search {
  height: 34px;
  padding: 0 4px;
  outline: none;
  font-size: 1.6rem;
}


.box-search {
  max-width: 600px;
  width: 100%;
  padding: 6px;
  background-color: var(--while-color);
}

.btn-search {
  height: 34px;
  padding: 4px 0;
  background-color: var(--primary-color) !important;

  &:hover {
    background-color: #ff5588;
  }
}
