.wrapper{
    width: 100%;
    padding-top: var(--padding-top);
}

.form-vertify{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 24px 24px;
    box-shadow: 0 3px 10px 0 rgba(0 0 0 /14%);
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.verification-code{
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.form-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  
}
.label-header{
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 500;
}
.btn-vertify{
    width: 100%;
    margin-top: 20px;

}