.main-section {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  border-left: 1px solid #eeeeee;

  margin: 20px 0px;
}


.gird-ten {
  display: flex;
  justify-content: center;
}
.title-main{
  font-size: 16px;
  color: #1dacfe;
}